/*Splide slider on Billboard*/
#splide_billboard_slide .splide__list .splide__slide{
	min-height: 605px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
#splide_billboard_slide .splide__list .splide__slide:after{
	content: '';
	background-color: #000000;
	opacity: .75;
	/*background: linear-gradient(91deg, rgb(10 10 10) 0%, rgb(21 21 24 / 26%) 100%, rgb(28 33 34) 100%);*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter:grayscale(100%); filter:grayscale(100%);
	z-index: -1;
}


.billboard.billboard-slide .splide-billboard .billboard-slide--item h1{ color:#FFFFFF; font-weight:700; font-size:55px; font-family:'Heebo'; width:65%; }

.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(1) p{ color:#FFFFFF; font-size:15px; }
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(1) .slide-number--progress .slide-number--progress-current-slide{
	position:relative; top:-9px; margin-right:2px;
}
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(1) .slide-number--progress .slide-number--progress-all-slide{
	position:relative; top:-9px; margin-left:4px
}

.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(1) .slide-number--progress span.d-inline-block{
	background-color:#FFFFFF; width:40px; height:3px; margin:-4px;
}
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(1) .slide-number--progress span.d-inline-block.active{ background-color:#726969; }

.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div{ color:#FFFFFF; }
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div img{ width:50px; height:auto; }
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div h4,
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div div{ font-family: 'Montserrat'; font-size:24px; font-weight:700; }
.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div p{ font-size:16px; font-weight:400; line-height: 1.3; padding:0 25px; }


/*.splide-billboard-sub-slide ul > li{ min-height:185px; }*/
/*.billboard.billboard-slide .splide-billboard .billboard-slide--item .splide_billboard_sub ul > li img{ width:50px; height:auto; }*/
/*.billboard.billboard-slide .splide-billboard .billboard-slide--item .splide_billboard_sub ul > li h4,*/
/*.billboard.billboard-slide .splide-billboard .billboard-slide--item .splide_billboard_sub ul > li div{ font-family:'Montserrat'; font-size:22px; color:#FFFFFF; font-weight:700; }*/
/*.billboard.billboard-slide .splide-billboard .billboard-slide--item .splide_billboard_sub ul > li p {*/
	/*font-size: 14px;*/
	/*font-weight: 400;*/
	/*line-height: 1.3;*/
	/*color:#FFFFFF;*/
	/*padding: 0 55px;*/
/*}*/

.splide-billboard-sub-slide { position:relative; top:-230px; }
.splide-billboard-sub-slide .splide__list .splide__slide{ min-height:185px; }
.splide-billboard-sub-slide .splide__list .splide__slide img{ width:50px; height:auto; }
.splide-billboard-sub-slide .splide__list .splide__slide h4,
.splide-billboard-sub-slide .splide__list .splide__slide div { font-family:'Montserrat'; font-size:22px; color:#FFFFFF; font-weight:700; }
.splide-billboard-sub-slide .splide__list .splide__slide p{
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	color:#FFFFFF;
	padding: 0 55px;
}

.billboard.billboard-slide .video-container{ position:absolute; top:0; left:0; width:100%; }

.billboard.billboard-slide .video-container .video-container-color-overlay{ position:absolute; top:0; left:0; width:100%; height:100vh; background-color:#000000; opacity:0.7; }

/*__/Splide slider on Billboard*/






/**
	MEDIA QUERIES:
*/
@media screen and (max-width: 1399px){
	.billboard.billboard-slide .splide-billboard .billboard-slide--item h1 { width: 100%; }
}
@media screen and (max-width: 1199px){
	.billboard.billboard-slide .splide-billboard .billboard-slide--item h1 { width:100%; }
	.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div p { padding: 0; }
	.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div h4,
	.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div div { font-size:22px;	}
	.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(2) > div p { font-size:14px; }
}
@media screen and (max-width: 991px){
	.billboard.billboard-slide .splide-billboard .billboard-slide--item h1 { font-size:42px;}
}
@media screen and (max-width: 767px){
	.billboard.billboard-slide .splide-billboard .billboard-slide--item h1 { font-size:38px; }
	.billboard.billboard-slide .splide-billboard .billboard-slide--item .row:nth-of-type(1) .slide-number--progress{ visibility:hidden; }
	#splide_billboard_slide .splide__list .splide__slide { min-height:485px; align-items:start !important; padding-top:25px; }
}
@media screen and (max-width: 575px){
	.button { min-width: 125px; }
	.splide-billboard-sub-slide { top:-180px; }

}

