/* Heebo , Montserrat
	#002557 - blue
	#FFFFFF - white
	#000000 - black
	#EAEAEA - gray (as on header banner)
	#D9D9D9 - gray (as on footer)
*/

/*#GENERAL*/
html {
	scroll-behavior: smooth;
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Heebo';
	font-size:1rem;
	/*text-size-adjust: none;*/
	/*-webkit-text-size-adjust: none;*/
	/*-moz-text-size-adjust: none;*/
	/*-ms-text-size-adjust: none;*/
}
.circle{
	border-radius: 50%;
	margin: 0.15rem;
	/*font-size: 3em;*/
	border: 1px solid #002557;
	padding: 5px 6px;
}
.__location .circle{ padding: 4px 8px; }
i.fa{
	font-size:19px;
	background: #EAEAEA;
	color: #002557;
	/*padding: 0.05em 0.07em;*/
	cursor: pointer;
}
i.fa:hover{
	background: #002557;
	color:#FFFFFF;
}

a.__email, a.__tel, a.__location{
	font-size: 15px; text-decoration:none; color: #002557;
}
a.__email:hover i.fa, a.__tel:hover i.fa, a.__location:hover i.fa{ background: #002557; color:#FFFFFF; }

.button{
	text-decoration: none;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	font-family: 'Heebo';
	outline:none;
	border:none;
	padding: 10px 10px;
	display: inline-block;
	min-width:170px;
	min-height:40px;
	cursor:pointer;
	transition:all .5s ease-in;
}
.button.button-white{ background:#FFFFFF; color:#002557; box-shadow: rgb(38 57 77) 0 20px 30px -10px; }
	.button.button-white:hover{ background:#002557; color:#FFFFFF;  }
.button.button-blue{ background:#002557; color:#FFFFFF; box-shadow: rgb(38 57 77) 0 20px 30px -10px; }
	.button.button-blue:hover{ background:#FFFFFF; color:#002557;  }

h1{ color:#FFFFFF; font-size:55px; font-weight:700; font-family:'Heebo'; text-transform:uppercase; }
h2{ color:#FFFFFF; font-size:42px; font-weight:700; font-family:'Heebo'; text-transform:uppercase; }
/*__/#GENERAL*/

/*#BANNER*/
.header-banner{
	background-color:#EAEAEA;
	padding: 7px 15px;
}
.header-banner .col-auto i.fa{ margin-right: 6px; }
/*__/#BANNER*/

/*#HEADER*/
nav.navbar .navbar-brand > img{ width:90px; height:auto; }
nav.navbar ul.navbar-nav .nav-item > .nav-link{
	color: #000000;
	font-size: 17px;
}
nav.navbar ul.navbar-nav .nav-item > .nav-link.current-menu-item,
nav.navbar ul.navbar-nav .nav-item > .nav-link:hover,
nav.navbar ul.navbar-nav .nav-item > .nav-link:active{ color: #002557; }

nav.navbar .navbar-collapse { flex-grow: 0; }

nav.navbar .navbar-toggler.collapsed{
	padding: 5px 5px;
	font-size: 1.25rem;
	background-color: transparent;
	border: none;
	border-radius: 50%;
}
nav.navbar .navbar-toggler{
	padding: 5px 5px;
	font-size: 1.25rem;
	background-color: transparent;
	border: 1px solid #002557;
	border-radius: 50%;
}
nav.navbar .navbar-toggler:focus, nav.navbar .navbar-toggler:active, nav.navbar .navbar-toggler:hover, nav.navbar .navbar-toggler:visited{ box-shadow:none!important; }
nav.navbar .navbar-toggler > .navbar-toggler-icon{ position: relative; top: -4px; }
nav.navbar .navbar-toggler > .navbar-toggler-icon:before{ content: "\f00d"; font: normal normal normal 36px/1 FontAwesome; color:#002557; }
nav.navbar .navbar-toggler.collapsed > .navbar-toggler-icon:before{ content: "\f0c9"; font: normal normal normal 36px/1 FontAwesome; color:#002557; }

nav.navbar ul.navbar-nav .nav-item .dropdown-menu{ background-color:#002557; box-shadow:rgb(0 0 0 / 24%) 0px 3px 8px; }
nav.navbar ul.navbar-nav .nav-item .dropdown-menu > li a.dropdown-item{ color:#FFFFFF; }
nav.navbar ul.navbar-nav .nav-item .dropdown-menu > li a.dropdown-item:hover{ color: #002557; background-color:#FFFFFF; }

nav.navbar hr.dropdown-divider{ height:1px; background-color:#FFFFFF; border:none; }

/*__/#HEADER*/

/*#FOOTER*/
footer.site-footer{ background-color:#D9D9D9; padding:40px 15px 15px 15px; } /*background-color:#D9D9D9;*/
footer.site-footer .footer-text .navbar-brand > img{ width:90px; height:auto; }
footer.site-footer .footer-text .company-name{ text-transform:uppercase; font-size:25px; font-weight:700; font-family:'Heebo'; color:#000000; }
footer.site-footer .footer-text .company-description p{ font-size:14px!important; font-weight:400; font-family:'Heebo'; color:#000000; text-align:justify; word-wrap:break-word; }

footer.site-footer .footer-info ul.navbar-nav .nav-item > .nav-link{ color:#000000; font-size:17px; }
footer.site-footer .footer-info ul.navbar-nav .nav-item.current-menu-item > .nav-link,
footer.site-footer .footer-info ul.navbar-nav .nav-item > .nav-link:hover,
footer.site-footer .footer-info ul.navbar-nav .nav-item > .nav-link:active{ color:#002557; }

footer.site-footer .footer-info .services-pages-list > div,
footer.site-footer .footer-info .contact-us > div,
footer.site-footer .footer-info .subscribe-us > div{ color:#000000; font-size:17px; }
footer.site-footer .footer-info .services-pages-list ul{ list-style-type:none !important; }
footer.site-footer .footer-info .services-pages-list ul > li > a{ font-size:15px; text-decoration:none; color:#000000; }
footer.site-footer .footer-info .services-pages-list ul > li > a:hover{ color:#002557; }

footer.site-footer .footer-info .contact-us ul{ list-style-type:none !important; }
footer.site-footer .footer-info .contact-us ul > li > div{ margin-left:36px; font-size:14px; text-decoration:none; color:#000000; line-height:0; }
footer.site-footer .footer-info .contact-us ul > li > div > a { font-size:14px; text-decoration:none; color:#000000; line-height:0; }
footer.site-footer .footer-info .contact-us ul > li > a { color:#000000; font-size:14px; }
footer.site-footer .footer-info .contact-us ul > li > a > img,
footer.site-footer .footer-info .subscribe-us .follow-us a > img{ width:33px; height:auto; }
footer.site-footer .footer-info .contact-us .__location .circle{ position:relative; top:7px; }

footer.site-footer .footer-info .subscribe-us .follow-us span{ font-size:15px; font-weight:400; font-family:'Heebo'; color:#000000; }

footer.site-footer .footer-banner .copyright-text{ font-size:12px; font-weight:400; font-family:'Montserrat'; color:#000000; }
/*__/#FOOTER*/

/*Flexible-Content: .about-us-section-container*/
.about-us-section-container.section-video:after{
	content: '';
	background-color: #000000;
	opacity: .7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}
.about-us-section-container{ width:100%; min-height:505px; background-size:cover; background-repeat:no-repeat; }
.about-us-section-container p{ font-size:14px; color:#FFFFFF; line-height:2; }
.section-video{ position:relative; display:flex; align-items:center; justify-content:center; overflow:hidden; }
.section-video .section-video-content{ width:40%; text-align:left; color:#fff; padding:15px; margin:10px; position:relative; z-index:1; }
.section-video .video-container{ position:absolute; } /*top:0; left:0; width:100%;*/
.section-video .video-container .video-container-color-overlay{ position:absolute; top:0; left:0; width:100%; height:100vh; background-color:#000000; opacity:0.7; }
.section-video .video-container video {	right:0; bottom:0; min-width:100%; min-height:100%; }
/*__/Flexible-Content: .about-us-section-container*/

/*Flexible-Content: .full-video-section-container*/
.full-video-section-container{ width:100%; min-height:575px; background-size:cover; background-repeat:no-repeat; }
.full-video-section-container.section-video .video-container video {width:100%; }

i.fa-play-circle.__video--btn,
i.fa-pause.__video--btn{
	position:relative;
	font-size:70px;
	background:transparent;
	/*color:#002557;*/
	color:#FFFFFF;
	z-index:1;
	cursor:pointer;
	opacity:0.5;
}
i.fa-play-circle.__video--btn:hover,
i.fa-pause.__video--btn:hover{ opacity:1.0; color:#002557; }

.full-youtube-video-section-container{ /*max-height:575px;*/ overflow:hidden; }
/*__/Flexible-Content: .full-video-section-container*/

/*Flexible-Content: .our-services-section-container*/
.our-services-section-container figure{ margin:0; padding:0; }
.our-services-section-container .service-post a > article { background-size:cover; background-repeat:no-repeat; height:295px; }
.our-services-section-container .content h2{ color:#002557; }
.our-services-section-container .content p{ color:#000000; font-size:14px; text-align:justify; text-justify:inter-word; word-spacing:-2px; }

.our-services-section-container .service-post a{ text-decoration:none; }
.our-services-section-container .service-post a > article > span{ color:#FFFFFF; font-size:21px; font-weight:700; font-family:'Heebo'; z-index:1; }
.our-services-section-container .service-post a > article:after{
	content: '';
	background-color:rgb(0, 0, 0, .6);
	/*opacity: .6;*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}
/*__/Flexible-Content: .our-services-section-container*/

/*Flexible-Content: .our-clients-section-container*/
.our-clients-section-container .our-clients-section-content{ z-index:1; }
.our-clients-section-container .background-image{
	width: 100%;
	/*min-height: 630px;*/
	background-size: cover;
	background-repeat: no-repeat;
}
.our-clients-section-container .background-image:after{
	content: '';
	background-color: #000000;
	opacity: .7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}
.our-clients-section-container .background-image .testimonials-slider li.splide__slide{ background:rgb(255, 255, 255, 0.5); outline:1px solid black; }

.our-clients-section-container .background-image .testimonials-slider li.splide__slide .title-testimonial{ color:#002557; font-size:17px; font-weight:700; font-family:'Heebo'; text-transform:capitalize; letter-spacing:2px; }
.our-clients-section-container .background-image .testimonials-slider li.splide__slide .title-testimonial > span{ font-size:18px; }
.our-clients-section-container .background-image .testimonials-slider li.splide__slide .text-testimonial,
.our-clients-section-container .background-image .testimonials-slider li.splide__slide .position-of-reviewer{ color:#000000; font-size:14px; font-weight:300; font-family:'Heebo'; line-height:19px; }
.our-clients-section-container .background-image .testimonials-slider li.splide__slide .learn-more-testimonial{ color:#002557; font-size:14px; font-weight:700; font-family:'Heebo'; text-transform:uppercase; text-decoration:none; }
.our-clients-section-container .background-image .testimonials-slider li.splide__slide .learn-more-testimonial:hover{ color:#FFFFFF; }
.our-clients-section-container .background-image .testimonials-slider li.splide__slide .reviewer-of-name{ color:#002557; font-size:14px; font-weight:700; font-family:'Heebo'; text-transform:capitalize; }
#testimonials_slider .splide__arrows .splide__arrow.splide__arrow--prev{ left: -1em; }
#testimonials_slider .splide__arrows .splide__arrow.splide__arrow--next{ right: -1em; }


.our-clients-section-container .background-image .client-logos-slider li.splide__slide > img{ width:100px; height:auto; }
#client_logos_slider .splide__arrows .splide__arrow.splide__arrow--prev{ left: -1em; }
#client_logos_slider .splide__arrows .splide__arrow.splide__arrow--next{ right: -1em; }
/*__/Flexible-Content: .our-clients-section-container*/

/*Flexible-Content: .recent-news-posts-container*/
.recent-news-posts-container h2{ color:#002557; }
.recent-news-posts-container a.learn-more-news{ color:#002557; font-size:14px; font-weight:700; font-family:'Heebo'; text-transform:uppercase; text-decoration:none; }
.recent-news-posts-container a.learn-more-news:hover,
.recent-news-posts-container .news-title > a:hover{ color:#000000; font-style:italic; }
.recent-news-posts-container .news-post > a{ text-decoration:none; }
.recent-news-posts-container .news-post-article{ background-size:cover; background-repeat:no-repeat; height:295px; }
.recent-news-posts-container .news-post-article:after{
	content: '';
	background-color: rgb(0, 0, 0, .6);
	/* opacity: .6; */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}
.recent-news-posts-container .news-date{ color:#000000; font-size:14px; font-weight:300; font-family:'Heebo'; }
.recent-news-posts-container .news-title > a{ color:#002557; font-size:16px; font-weight:700; font-family:'Heebo'; text-decoration:none; }

#recent_news_slider .splide__arrows .splide__arrow.splide__arrow--next{ right:35%; top:100%; transform:translateY(5%);	}
#recent_news_slider .splide__arrows .splide__arrow.splide__arrow--prev { left:35%; top:100%; transform:translateY(5%); }
/*__/Flexible-Content: .recent-news-posts-container*/


/*Single Page Service*/
.single-services-container .single-services-banner{ min-height:450px; background-size:cover; background-repeat:no-repeat; }
.single-services-container .single-services-banner:after{
	content: '';
	background-color: #000000;
	opacity: .7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}
.single-services-container .single-services-title--container{ width:75%; z-index:1; }
.single-services-container .single-services-content h2 { color:#002557; }
.single-services-container .single-services-content p{ font-size:16px; font-weight:400; font-family:'Montserrat'; color:#000000; line-height:23px; text-align:justify; text-justify:inter-word; word-spacing:-2px; }
.single-services-container .single-services-content .single-service-bg-image { background-size:cover; background-repeat:no-repeat; }
.single-services-container .single-services-content .single-service-bg-image:after{
	content: '';
	background-color: #000000;
	opacity: .7;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}
.single-services-container .single-services-content .single-service-bg-video{ overflow:hidden; }
.single-services-container .single-services-content .single-service-bg-video i.__video--btn{
	position:absolute;
	top: calc(50% - 35px);
	left: calc(50% - 30px);
}
/* Alternative:
	.single-services-container .single-services-content .single-service-bg-video .section-video{
		width:100%;  background-size:cover; background-repeat:no-repeat;
		position:relative; display:flex; align-items:center; justify-content:center; overflow:hidden;
	}
	.single-services-container .single-services-content .single-service-bg-video .section-video .content{ position:relative; z-index:1; }
	.single-services-container .single-services-content .single-service-bg-video .section-video .video-container{ position:absolute; top:0; left:0; width:100%;	}
	.single-services-container .single-services-content .single-service-bg-video .section-video .video-container video{ right:0; bottom:0; min-width:100%; min-height:100%; }
*/
/*__/Single Page Service*/





/**
	MEDIA QUERIES:
*/
@media screen and (max-width: 1199px){
	/*Flexible-Content: .full-video-section-container*/
	.full-video-section-container.__image{min-height:450px; }
	/**/.full-video-section-container.__video{min-height:450px; }
	/*__/Flexible-Content: .full-video-section-container*/

	/*Single Page Service*/
	.single-services-container .single-services-banner { min-height:350px; }
	/*__/Single Page Service*/
}
@media screen and (max-width: 991px){
	h1{ font-size:42px; }
	h2{ font-size:38px; }

	/*Flexible-Content: .full-video-section-container*/
	.full-video-section-container.__image{min-height:360px; }
	/**/.full-video-section-container.__video{min-height:425px; }
	/*__/Flexible-Content: .full-video-section-container*/

	/*Flexible-Content: .our-services-section-container*/
	.our-services-section-container .service-post a > article {	height:200px; }
	/*__/Flexible-Content: .our-services-section-container*/

	/*Flexible-Content: .recent-news-posts-container*/
	.recent-news-posts-container .news-post .news-post-article{	height:200px; }
	/*__/Flexible-Content: .recent-news-posts-container*/

	/*Single Page Service*/
	.single-services-container .single-services-title--container{ width:100%; }
	/*__/Single Page Service*/
}
@media screen and (max-width: 767px){
	h1{ font-size:38px; }
	h2{ font-size:34px; }

	/*#FOOTER*/
										/*footer.site-footer{ top:-166px; }*/
	/*__/#FOOTER*/

	/*Flexible-Content: .about-us-section-container*/
														/*#about_us_section_container{ top:-190px; }*/
	.section-video .section-video-content{ width:100%; }
	/*__/Flexible-Content: .about-us-section-container*/

	/*Flexible-Content: .full-video-section-container*/
	.full-video-section-container.__image{min-height:270px; }
	.full-video-section-container.__video{min-height:320px; }
	#full_video_section_container,
														/*.full-youtube-video-section-container{ top:-190px; }*/
	/*__/Flexible-Content: .full-video-section-container*/

	/*Flexible-Content: .our-services-section-container*/
														/*.our-services-section-container{ top:-190px; }*/
	.our-services-section-container .service-post a > article,
	.our-services-section-container .service-post a > article > span{ font-size:16px; }
	/*__/Flexible-Content: .our-services-section-container*/

	/*Flexible-Content: .our-clients-section-container*/
			/*.our-clients-section-container{ top:-215px; }*/
	/*__/Flexible-Content: .our-clients-section-container*/

	/*Flexible-Content: .recent-news-posts-container*/
														/*.recent-news-posts-container{ top:-225px; }*/
	/*__/Flexible-Content: .recent-news-posts-container*/
}
@media screen and (max-width: 575px){
	/*#GENERAL*/
	a.__email, a.__tel{ font-size: 13px; }
	/*__/#GENERAL*/
	/*#BANNER*/
	.header-banner{ padding:7px 0; }
	.header-banner .row div:nth-of-type(2){ padding-right: 0; }
	.header-banner .row div:nth-of-type(3){ padding-left: 0; }
	/*__/#BANNER*/
	/*#FOOTER*/
	footer.site-footer { padding: 15px 15px 15px 15px; }
	footer.site-footer .footer-info .services-pages-list ul > li { line-height:1; }

	footer.site-footer .footer-info ul.navbar-nav .nav-item:first-of-type > .nav-link{ padding-top:0 !important; }
	footer.site-footer .footer-info .contact-us ul > li > a{ font-size:13px; }
	/*__/#FOOTER*/

	/*Flexible-Content: .about-us-section-container*/
	.about-us-section-container{ min-height:465px; }
	.section-video a.button{ min-width:170px; }
	.about-us-section-container p {	line-height:1.5; }
	/*__/Flexible-Content: .about-us-section-container*/

	/*Flexible-Content: .full-video-section-container*/
	.full-video-section-container.__image{ min-height:160px; }
	/**/.full-video-section-container.__video{ min-height:255px; }
	i.fa-play-circle.__video--btn:hover, i.fa-pause.__video--btn:hover{ opacity:0.4; color:#FFFFFF; }
	/*__/Flexible-Content: .full-video-section-container*/

	/*Flexible-Content: .our-clients-section-container*/
	#testimonials_slider .splide__arrows .splide__arrow.splide__arrow--next{ right:35%; top:100%; transform:translateY(5%);	}
	#testimonials_slider .splide__arrows .splide__arrow.splide__arrow--prev { left:35%; top:100%; transform:translateY(5%); }

	#client_logos_slider .splide__arrows .splide__arrow.splide__arrow--next{ right:35%; top:100%; transform:translateY(5%);	}
	#client_logos_slider .splide__arrows .splide__arrow.splide__arrow--prev { left:35%; top:100%; transform:translateY(5%); }
	/*__/Flexible-Content: .our-clients-section-container*/

	/*Single Page Service*/
	.single-services-container .single-services-banner { min-height:275px; }
	/*__/Single Page Service*/
}

@media screen and (max-width: 465px){
	/**/.full-video-section-container.__video{ min-height:175px; }
}